* {
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.feedback {
    width: 250px;
    height: 100px;
    background: linear-gradient(
        to top,
        DarkSlateGrey   0%,
        DarkSlateGrey   65%,
        FloralWhite  65%,
        FloralWhite  100%
      );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feedback img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.feedback p {
    color: white;
    margin-bottom: 0.25rem;
}

.hidden {
    display: none;
}